<MudNavMenu>
    <div style="display: flex; flex-direction: column; margin-left: 15px;">
        <MudButton Href="/" OnClick="HandleLinkClick">Home</MudButton>
        <MudButton Href="/gun-configurator" OnClick="HandleLinkClick">Gun Configurator</MudButton>
        <MudButton Href="/data-downloader" OnClick="HandleLinkClick">Download Data</MudButton>
    </div>
</MudNavMenu>

@code {
    [Parameter]
    public EventCallback OnNavMenuItemClick { get; set; }
    [Parameter]
    public EventCallback OnNavMenuItemClickHome { get; set; }


    private void HandleLinkClick()
    {
        OnNavMenuItemClick.InvokeAsync();
    }

    private void HandleLinkClickHome()
    {
        OnNavMenuItemClickHome.InvokeAsync();
    }

}